html.dark {
  --el-menu-bg-color: #000000;
  --el-menu-hover-bg-color: #035165;
  --mian-app-bg: transparent;
  --box-shadow-color: 0 0 3px 0 #999;
  --el-header-bg: #000000;
}

html.normal {
  --el-menu-bg-color: #3f465d;
  --el-menu-hover-bg-color: #035165;
  --mian-app-bg: #f5f5f5;
  --box-shadow-color: 0 0 3px 0 #cacaca;
  --el-header-bg: white;
}

html,
body,
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon_hover:hover {
  color: #349ef6;
}
